@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

::-webkit-scrollbar {
    width: 4px;
  }
::-webkit-scrollbar-thumb {
    background: black;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{

    background-color: white;
    font-family: 'Raleway', sans-serif;
    height: 2600px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: white;
    height: 80px;
    width: 100%;
    z-index: 1;
    
}
nav button{
    background-color: transparent;
    border: none;
}

nav a{
    text-decoration: none;
    font-size: 30px;
    color: #43B9AA;
    font-weight: bold;
}

.navBTN span{
    
   background-color: #43B9AA;
   border-radius: 30px;
   margin-right: 20px;
   padding: 10px 40px 10px 40px;
   color: white;
   font-size: 15px;
}

.billboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 320px;
    height: 200px;
    gap: 80px;

}

.billboard h2{
    font-size: 50px;
    text-align: center;
}

.billboard-info{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    background-color: white;
    
}

.description div{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: solid black 1px;
}
.description .no-border{
    border: none;
}

.img-container{
    background-color: white;
    border-radius: 20px;
    height: 300px;
    width: 500px;
}
.img-container img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: solid black 1px;
}

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #3CA89A;
    height: 52vh;
    top: 750px;
    margin-bottom: 100px;
}
.about h2{
    font-size: 2vw;
    color: white;
}

.about p{
    font-size: 1.2vw;
    text-align: center;
    color: white;
    
}


.sorting-container{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
    top: 750px;
}

.sorting-container h2{
    font-size: 35px;
}
.sorting-container p{
    font-size: 1vw;
}

.mergesort-container{
    display: flex;
    gap: 50px;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 40px;
    padding: 20px;
    height: 30vh;
    width: 100%;
}

.input-container form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#run , #reset{
    height: 40px;
    width: 100px;
    margin-left: 30px;
    border-radius: 20px;
    border: #43B9AA solid;
}
#run:hover , #reset:hover{
    border: solid black;
    background-color:#43B9AA ;
    transition: 0.4s;
    color: white;
}


#arrayValues{
    height: 40px;
    width: 80%;
}


footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    height: 8vh;
    width: 100%;
    bottom: 0;
    z-index: 1;
   
}

footer a{
    text-decoration: none;
    color: #3CA89A;
    font-size: 30px;
    font-weight: bold;
}
footer p{
    color: black;
    font-weight: 600;
}




